---
import BaseLayout from "@layouts/BaseLayout.astro";
import { AlertBar, Footer } from "@components/global";
import { UL, OL, PostHero, Image } from "@components/posts";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const components = { ul: UL, ol: OL, img: Image };
---

<BaseLayout>
  <AlertBar />
  <article class="prose mx-auto px-app py-xl">
    <PostHero entry={entry.data} />
    <hr />
    <main>
      <Content components={components} />
    </main>
  </article>
  <Footer />
</BaseLayout>
