:where(html) {
  --neutral-50: hsl(17, 9%, 97%);
  --neutral-100: hsl(17, 9%, 93%);
  --neutral-200: hsl(17, 9%, 87%);
  --neutral-300: hsl(17, 2%, 79%);
  --neutral-400: hsl(17, 2%, 70%);

  --neutral-50: hsl(75, 17%, 95%);
  --neutral-100: hsl(75, 7%, 91%);
  --neutral-200: hsl(75, 7%, 87%);
  --neutral-300: hsl(75, 7%, 79%);
  --neutral-400: hsl(75, 2%, 70%);

  --neutral-500: hsl(240, 3%, 60%);
  --neutral-600: hsl(240, 3%, 51%);
  --neutral-700: hsl(240, 4%, 41%);
  --neutral-800: hsl(240, 5%, 33%);
  --neutral-850: hsl(240, 5%, 24%);
  --neutral-900: hsl(240, 6%, 18%);
  --neutral-950: hsl(240, 7%, 12%);

  --black-oklch: 17% 0.005 264;
  --black: oklch(var(--black-oklch));
  --rich-black: hsl(220, 8%, 4%);

  --red-200: oklch(79% 0.15 30);
  --red-300: oklch(74% 0.2 30.64);
}
