---
import BaseLayout from "../../layouts/BaseLayout.astro";

export const prerender = false;

const password = Astro.url.searchParams.get("password") ?? "No Password";

// if (password !== 'foobar') return Astro.redirect("/404");
---

<BaseLayout>
  <h1>{password}</h1>
</BaseLayout>
