.alert {
  background: var(--black);
  color: oklch(85% 0.16 76);
  border-bottom: 1px solid var(--border-subtle);
  padding-inline: var(--px-app);
  padding-block: var(--space-xs);

  p {
    font-size: var(--font-sm);
    text-align: center;
  }

  b {
    font-weight: var(--font-medium);
  }
}
