.prose {
  display: grid;
  gap: 2rem;
  max-width: 72ch;

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--border-subtle);
    margin: 1rem 0;
    padding: 0;
  }

  main {
    display: grid;
    gap: 1.25rem;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-weight: var(--font-medium);
  }

  h1 {
    font-size: var(--font-4xl);
  }

  h2 {
    font-size: var(--font-2xl);
  }

  h3 {
    font-size: var(--font-lg);
  }

  h4 {
    font-size: var(--font-sm);
    font-weight: var(--font-medium);
    color: var(--neutral-500);
  }

  h2,
  h3 {
    margin-block-start: 0.5em;

    pre + & {
      margin-block-start: 0.25em;
    }
  }

  main > :where(h2, h3, p):is(:first-child) {
    margin-block-start: 0;
  }

  main > p,
  main li {
    font-size: var(--font-base);
    color: var(--neutral-200);
    line-height: var(--leading-2xl);

    a {
      color: var(--neutral-50);
      font-weight: var(--font-medium);
      text-decoration-color: var(--border-subdued);
      text-underline-offset: 2px;
      transition-property: color, text-decoration-color;
      transition-duration: 200ms;
      transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);

      &:hover {
        color: var(--color-primary);
        text-decoration-color: var(--color-primary);
      }
    }

    code {
      font-size: var(--font-sm);
      color: var(--color-primary);
      padding-inline: 5px;
      padding-block: 3px;
      background: var(--black);
      border-radius: var(--space-xs);
    }
  }

  ul {
    li {
      list-style-type: "→";
      padding-inline-start: 1ch;
      margin-inline-start: -1ch;
      margin-block: 0.25em;

      &::marker {
        font-weight: var(--font-medium);
        color: var(--color-primary);
      }
    }
  }

  p:has(img),
  div:has(video) {
    margin-block: 0.75rem;
  }

  pre {
    margin-block: 0.5em;
    font-size: var(--font-sm);
    background-color: var(--black) !important;
    border-radius: 8px;

    code {
      display: block;
      padding: 16px;
    }
  }

  blockquote {
    position: relative;
    font-size: var(--font-lg);
    font-weight: var(--font-medium);
    line-height: var(--leading-lg);
    margin-block: 0.5em;
    padding-inline-start: 1.5rem;

    p {
      margin: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0.325em;
      left: 0;
      bottom: 0.325em;
      border-inline-start: 1px solid var(--color-primary);
    }
  }

  @media (--screen-sm) {
    max-width: 72ch;

    h1 {
      font-size: var(--font-6xl);
    }

    h2 {
      font-size: var(--font-3xl);
    }

    h3 {
      font-size: var(--font-xl);
    }

    main > p {
      font-size: var(--font-lg);
    }

    blockquote {
      font-size: var(--font-2xl);
    }
  }
}
